<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Панель администратора</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body th:object="${updUser}"
      th:style="${#fields.hasErrors() ? 'background: rgb(248, 249, 250); overflow: hidden; padding-right: 0px;' : 'background: rgb(248, 249, 250);'}"
      th:class="${#fields.hasErrors() ? 'modal-open' : ''}">
<nav class="fixed-top navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"><b th:text="${user.username}"/> с ролями: <span
                th:each="authority : ${user.authorities}" th:text="${authority + ' '}"/></a>
        <form method="post" action="/logout">
            <input name="_csrf" type="hidden" th:value="${_csrf.token}"/>
            <span class="navbar-text"><input
                    style="background:none; color:inherit; border:none; padding:0; font:inherit;" type="submit"
                    value="Выйти"/></span>
        </form>
    </div>
</nav>
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills col-2 min-vh-100" id="v-pills-tab" role="tablist" aria-orientation="vertical"
         style="background: white">
        <br><br><br>
        <a sec:authorize="hasRole('ADMIN')"
           th:class="'nav-link ' + ${user.authorities.contains(ROLE_ADMIN) ? 'active' : ''}" id="v-pills-admin-tab"
           data-bs-toggle="pill" data-bs-target="#v-pills-admin"
           type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">Администратор
        </a>
        <a th:class="'nav-link ' + ${!user.authorities.contains(ROLE_ADMIN) && user.authorities.contains(ROLE_USER) ? 'active' : ''}"
           id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user"
           type="button" role="tab" aria-controls="v-pills-user" aria-selected="false">Пользователь
        </a>
    </div>
    <div class="tab-content w-100 ps-3" id="v-pills-tabContent">
        <br><br><br>
        <div sec:authorize="hasRole('ADMIN')"
             th:class="'tab-pane fade ' + ${user.authorities.contains(ROLE_ADMIN) ? 'active show' : ''}"
             id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
            <h1 class="mb-3">Панель администратора</h1>
            <nav class="nav nav-tabs me-3" id="nav-tab" role="tablist">
                <a th:object="${newUser}" th:class="'nav-link ' + ${#fields.hasErrors() ? '' : 'active'}"
                   id="nav-users-table-tab" data-bs-toggle="tab" href="#nav-users-table"
                   role="tab" aria-controls="nav-home" aria-selected="true">Таблица пользователей</a>
                <a th:object="${newUser}" th:class="'nav-link ' + ${#fields.hasErrors() ? 'active' : ''}"
                   id="nav-new-user-tab" data-bs-toggle="tab" href="#nav-new-user" role="tab"
                   aria-controls="nav-profile" aria-selected="false">Новый пользователь</a>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div th:object="${newUser}" th:class="'tab-pane fade ' + ${#fields.hasErrors() ? '' : 'active show'}"
                     id="nav-users-table" role="tabpanel"
                     aria-labelledby="nav-users-table-tab">
                    <div class="card me-3">
                        <div class="card-header"><a style="font-size: 1.5rem;">Все пользователи</a></div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">АйДи</th>
                                    <th scope="col">Адрес электронной почты</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Отчество</th>
                                    <th scope="col">Дата рождения</th>
                                    <th scope="col">Роли</th>
                                    <th scope="col">Редактировать</th>
                                    <th scope="col">Удалить</th>
                                </tr>
                                </thead>
                                <tbody class="align-middle">
                                <th:block th:each="user : ${users}">
                                    <tr>
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.surname}"></td>
                                        <td th:text="${user.name}"></td>
                                        <td th:text="${user.patronymic}"></td>
                                        <td th:text="${user.birthDate}"></td>
                                        <td>
                                            <th:block>
                                                <a th:each="authority : ${user.authorities}"
                                                   th:text="${authority + ' '}"></a>
                                            </th:block>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    th:data-bs-target="'#updateModal' + ${user.id}">
                                                Редактировать
                                            </button>
                                            <div th:object="${updUser}"
                                                 th:class="'modal fade ' + ${#fields.hasErrors() && user.getId().equals(updUser.getId()) ? 'show' : ''}"
                                                 th:role="${#fields.hasErrors() && user.getId().equals(updUser.getId()) ? 'dialog' : ''}"
                                                 th:style="${#fields.hasErrors() && user.getId().equals(updUser.getId()) ? 'display: block;' : 'display: none;'}"
                                                 data-bs-backdrop="static" data-bs-keyboard="false"
                                                 th:id="'updateModal' + ${user.id}" tabindex="-1"
                                                 th:aria-labelledby="'updateModal' + ${user.id} + 'Label'"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5"
                                                                th:id="'updateModal' + ${user.id} + 'Label'">
                                                                Редактировать пользователя</h1>
                                                            <button th:if="${!#fields.hasErrors()}" type="button"
                                                                    class="btn-close" data-bs-dismiss="modal"
                                                                    aria-label="Закрыть"></button>
                                                        </div>

                                                        <div class="modal-body" style="text-align: center">
                                                            <form method="POST"
                                                                  th:action="@{/admin/update(id=${user.id})}"
                                                                  th:object="${updUser}" th:id="'Update' + ${user.id}">
                                                                <b th:if="${#fields.hasErrors()}" style="color: red;">ВНИМАНИЕ!
                                                                    <br>Были обнаружены ошибки!
                                                                    <br>Чтобы закрыть форму введите корректные данные
                                                                    или вернитесь на прошлую страницу
                                                                    (Alt + ←)<br><br></b>
                                                                <label class="mx-auto">
                                                                    <b>АйДи</b>
                                                                    <input class="form-control"
                                                                           th:form="'Update' + ${user.id}"
                                                                           placeholder="АйДи" type="text" th:name="id"
                                                                           th:value="${user.getId()}" disabled/>
                                                                </label>
                                                                <br>
                                                                <br>
                                                                <label class="mx-auto">
                                                                    <b>Адрес электронной почты</b>
                                                                    <input class="form-control"
                                                                           th:form="'Update' + ${user.id}"
                                                                           placeholder="Адрес электронной почты"
                                                                           type="text" th:name="username"
                                                                           th:value="${user.getUsername()}" autofocus
                                                                           required/>
                                                                </label>
                                                                <div style="color: red;"
                                                                     th:if="${#fields.hasErrors('username')}"
                                                                     th:errors="*{username}"></div>
                                                                <br th:if="${!#fields.hasErrors('username')}">
                                                                <br>
                                                                <label class="mx-auto">
                                                                    <b>Пароль</b>
                                                                    <input class="form-control"
                                                                           th:form="'Update' + ${user.id}"
                                                                           placeholder="Пароль" type="password"
                                                                           th:name="password"
                                                                           value=""/>
                                                                </label>
                                                                <div style="color: red;"
                                                                     th:if="${#fields.hasErrors('password')}"
                                                                     th:errors="*{password}"></div>
                                                                <br th:if="${!#fields.hasErrors('password')}">
                                                                <br>
                                                                <label class="mx-auto">
                                                                    <b>Фамилия</b>
                                                                    <input class="form-control"
                                                                           th:form="'Update' + ${user.id}"
                                                                           placeholder="Фамилия" type="text"
                                                                           th:name="surname"
                                                                           th:value="${user.getSurname()}" required/>
                                                                </label>
                                                                <div style="color: red;"
                                                                     th:if="${#fields.hasErrors('surname')}"
                                                                     th:errors="*{surname}"></div>
                                                                <br th:if="${!#fields.hasErrors('surname')}">
                                                                <br>
                                                                <label class="mx-auto">
                                                                    <b>Имя</b>
                                                                    <input class="form-control"
                                                                           th:form="'Update' + ${user.id}"
                                                                           placeholder="Имя"
                                                                           type="text" th:name="name"
                                                                           th:value="${user.getName()}"
                                                                           required/>
                                                                </label>
                                                                <div style="color: red;"
                                                                     th:if="${#fields.hasErrors('name')}"
                                                                     th:errors="*{name}"></div>
                                                                <br th:if="${!#fields.hasErrors('name')}">
                                                                <br>
                                                                <label class="mx-auto">
                                                                    <b>Отчество</b>
                                                                    <input class="form-control"
                                                                           th:form="'Update' + ${user.id}"
                                                                           placeholder="Отчество" type="text"
                                                                           th:name="patronymic"
                                                                           th:value="${user.getPatronymic()}"/>
                                                                </label>
                                                                <div style="color: red;"
                                                                     th:if="${#fields.hasErrors('patronymic')}"
                                                                     th:errors="*{patronymic}"></div>
                                                                <br th:if="${!#fields.hasErrors('patronymic')}">
                                                                <br>
                                                                <label class="mx-auto">
                                                                    <b>Дата рождения</b>
                                                                    <input class="form-control"
                                                                           th:form="'Update' + ${user.id}"
                                                                           placeholder="Дата рождения" type="date"
                                                                           th:name="birthDate"
                                                                           th:value="${user.getBirthDate()}" required>
                                                                </label>
                                                                <div style="color: red;"
                                                                     th:if="${#fields.hasErrors('birthDate')}"
                                                                     th:errors="*{birthDate}"></div>
                                                                <br th:if="${!#fields.hasErrors('birthDate')}">
                                                                <br>
                                                                <label class="mx-auto">
                                                                    <b>Роли</b>
                                                                    <select multiple class="form-control"
                                                                            th:form="'Update' + ${user.id}"
                                                                            name="authorities">
                                                                        <option th:each="role : ${roles}"
                                                                                th:text="${role.name}"
                                                                                th:value="${role.name}"
                                                                                th:selected="${user.getAuthorities().contains(role)}"/>
                                                                    </select>
                                                                </label>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button th:if="${!#fields.hasErrors()}" type="button"
                                                                    class="btn btn-secondary" data-bs-dismiss="modal">
                                                                Закрыть
                                                            </button>
                                                            <input th:form="'Update' + ${user.id}"
                                                                   class="btn btn-primary" type="submit"
                                                                   value="Редактировать"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                    th:data-bs-target="'#deleteModal' + ${user.id}">
                                                Удалить
                                            </button>
                                            <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false"
                                                 th:id="'deleteModal' + ${user.id}" tabindex="-1"
                                                 th:aria-labelledby="'deleteModal' + ${user.id} + 'Label'"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5"
                                                                th:id="'deleteModal' + ${user.id} + 'Label'">
                                                                Редактировать пользователя</h1>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Закрыть"></button>
                                                        </div>
                                                        <div class="modal-body" style="text-align: center">
                                                            <label class="mx-auto">
                                                                <b>АйДи</b>
                                                                <input class="form-control" th:value="${user.getId()}"
                                                                       disabled/>
                                                            </label>
                                                            <br>
                                                            <br>
                                                            <label class="mx-auto">
                                                                <b>Адрес электронной почты</b>
                                                                <input class="form-control"
                                                                       th:value="${user.getUsername()}" disabled/>
                                                            </label>
                                                            <br>
                                                            <br>
                                                            <label class="mx-auto">
                                                                <b>Фамилия</b>
                                                                <input class="form-control"
                                                                       th:value="${user.getSurname()}" disabled/>
                                                            </label>
                                                            <br>
                                                            <br>
                                                            <label class="mx-auto">
                                                                <b>Имя</b>
                                                                <input class="form-control" th:value="${user.getName()}"
                                                                       disabled/>
                                                            </label>
                                                            <br>
                                                            <br>
                                                            <label class="mx-auto">
                                                                <b>Отчество</b>
                                                                <input class="form-control"
                                                                       th:value="${user.getPatronymic()}" disabled/>
                                                            </label>
                                                            <br>
                                                            <br>
                                                            <label class="mx-auto">
                                                                <b>Дата рождения</b>
                                                                <input class="form-control"
                                                                       th:value="${user.getBirthDate()}" disabled>
                                                            </label>
                                                            <br>
                                                            <br>
                                                            <label class="mx-auto">
                                                                <b>Роли</b>
                                                                <select multiple class="form-control" disabled
                                                                        name="authorities">
                                                                    <option th:each="role : ${roles}"
                                                                            th:text="${role.name}"
                                                                            th:value="${role.name}"
                                                                            th:field="*{authorities}"/>
                                                                </select>
                                                            </label>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Закрыть
                                                            </button>
                                                            <form method="POST" th:action="@{/admin/delete}"
                                                                  th:id="${user.id}">
                                                                <input th:form="${user.id}" type="hidden"
                                                                       name="deleteId"
                                                                       th:value="${user.id}"/>
                                                                <input class="btn btn-danger" th:form="${user.id}"
                                                                       type="submit"
                                                                       value="Удалить"/>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div th:object="${newUser}" th:class="'tab-pane fade ' + ${#fields.hasErrors() ? 'active show' : ''}"
                     id="nav-new-user" role="tabpanel" aria-labelledby="nav-new-user-tab">
                    <div class="card me-3 mb-3">
                        <div class="card-header"><a style="font-size: 1.5rem;">Добавить нового пользователя</a></div>
                        <div class="card-body">
                            <form method="POST" th:action="@{/admin/create}" th:object="${newUser}" id="Create"
                                  class="mx-auto" style="text-align: center">
                                <label class="w-25 mx-auto">
                                    <b>Адрес электронной почты</b>
                                    <input class="form-control" form="Create"
                                           placeholder="Адрес электронной почты" type="text"
                                           th:field="*{username}" autofocus required/>
                                </label>
                                <div style="color: red;" th:if="${#fields.hasErrors('username')}"
                                     th:errors="*{username}"></div>
                                <br th:if="${!#fields.hasErrors('username')}">
                                <br>
                                <label class="w-25 mx-auto">
                                    <b>Пароль</b>
                                    <input class="form-control" form="Create"
                                           placeholder="Пароль" type="password"
                                           th:field="*{password}" required/>
                                </label>
                                <div style="color: red;" th:if="${#fields.hasErrors('password')}"
                                     th:errors="*{password}"></div>
                                <br th:if="${!#fields.hasErrors('password')}">
                                <br>
                                <label class="w-25 mx-auto">
                                    <b>Фамилия</b>
                                    <input class="form-control" form="Create"
                                           placeholder="Фамилия" type="text"
                                           th:field="*{surname}" required/>
                                </label>
                                <div style="color: red;" th:if="${#fields.hasErrors('surname')}"
                                     th:errors="*{surname}"></div>
                                <br th:if="${!#fields.hasErrors('surname')}">
                                <br>
                                <label class="w-25 mx-auto">
                                    <b>Имя</b>
                                    <input class="form-control" form="Create" placeholder="Имя"
                                           type="text" th:field="*{name}"
                                           required/>
                                </label>
                                <div style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                <br th:if="${!#fields.hasErrors('name')}">
                                <br>
                                <label class="w-25 mx-auto">
                                    <b>Отчество</b>
                                    <input class="form-control" form="Create"
                                           placeholder="Отчество" type="text"
                                           th:field="*{patronymic}"/>
                                </label>
                                <div style="color: red;" th:if="${#fields.hasErrors('patronymic')}"
                                     th:errors="*{patronymic}"></div>
                                <br th:if="${!#fields.hasErrors('patronymic')}">
                                <br>
                                <label class="w-25 mx-auto">
                                    <b>Дата рождения</b>
                                    <input class="form-control" form="Create"
                                           placeholder="Дата рождения" type="date"
                                           th:field="*{birthDate}" required>
                                </label>
                                <div style="color: red;" th:if="${#fields.hasErrors('birthDate')}"
                                     th:errors="*{birthDate}"></div>
                                <br th:if="${!#fields.hasErrors('birthDate')}">
                                <br>
                                <label class="w-25 mx-auto">
                                    <b>Роли</b>
                                    <select multiple class="form-control" form="Create"
                                            name="authorities">
                                        <option th:each="role : ${roles}"
                                                th:text="${role.name}"
                                                th:value="${role.name}"
                                                th:field="*{authorities}"/>
                                    </select>
                                </label>
                                <br>
                                <br>
                                <input form="Create" class="btn btn-success mx-auto" type="submit"
                                       value="Добавить нового пользователя"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:class="'tab-pane fade ' + ${!user.authorities.contains(ROLE_ADMIN) && user.authorities.contains(ROLE_USER) ? 'active show' : ''}"
             id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
            <h1 class="mb-3">Страница с информацией о пользователе</h1>
            <div class="card me-3">
                <div class="card-header"><a style="font-size: 1.5rem;">О пользователе</a></div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">АйДи</th>
                            <th scope="col">Адрес электронной почты</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Отчество</th>
                            <th scope="col">Дата рождения</th>
                            <th scope="col">Роли</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${user.id}"/>
                            <td th:text="${user.username}"/>
                            <td th:text="${user.surname}"/>
                            <td th:text="${user.name}"/>
                            <td th:text="${user.patronymic}"/>
                            <td th:text="${user.birthDate}"/>
                            <td>
                                <th:block>
                                    <a th:each="authority : ${user.authorities}" th:text="${authority + ' '}"></a>
                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:object="${updUser}" th:class="${#fields.hasErrors() ? 'modal-backdrop fade show' : ''}"></div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>