<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обновить данные пользователя</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        text-align: left;
    }
    .button {
        position:absolute;
        top:15px;
        right:15px;
    }
    .button2 {
        position:absolute;
        top:15px;
        left:15px;
    }
</style>
<body>
<div style="display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     min-height: 100vh;">
    <div sec:authorize="hasRole('ROLE_ADMIN')" class="button2">
        <button onclick="location.href = '/admin'">Панель администратора</button>
        <button onclick="location.href = '/user'">Данные пользователя</button>
    </div>
    <button class="button" onclick="location.href = '/logout'">Выйти</button>
    <form method="POST" th:action="@{/admin/update(id=${user.id})}" th:object="${user}" id="Update">
        <form></form>
        <table>
            <tr>
                <th>АйДи</th>
                <th>Адрес электронной почты</th>
                <th>Пароль</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Роли</th>
                <th>Обновить</th>
            </tr>
            <tr>
                <td th:text="${user.id}"></td>
                <td><label for="username"></label><input id="username" form="Update"
                                                         placeholder="Адрес электронной почты" type="text"
                                                         th:field="*{username}" autofocus required/></td>
                <td><label for="password"></label><input id="password" form="Update" placeholder="Пароль" type="password"
                                                         th:field="*{password}" required/></td>
                <td><label for="surname"></label><input id="surname" form="Update" placeholder="Фамилия" type="text"
                                                        th:field="*{surname}" required/></td>
                <td><label for="name"></label><input id="name" form="Update" placeholder="Имя" type="text"
                                                     th:field="*{name}" required/></td>
                <td><label for="patronymic"></label><input id="patronymic" form="Update" placeholder="Отчество"
                                                           type="text" th:field="*{patronymic}"/></td>
                <td><label for="birthDate"></label><input id="birthDate" form="Update" placeholder="Дата рождения"
                                                          type="date" th:field="*{birthDate}" required></td>
                <td><label for="authorities"></label><input id="authorities" form="Update" type="checkbox" name="authorities"
                                                            th:each="role : ${roles}"
                                                            th:text="${role.name}"
                                                            th:value="${role.name}"
                                                            th:field="*{authorities}"/></td>
                <td><input form="Update" type="submit" value="Подтвердить"/></td>
            </tr>
        </table>
        <br/>
        <div style="color: red;" th:if="${#fields.hasErrors()}" th:errors="*"></div>
    </form>
</div>
</body>
</html>