<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Данные пользователя</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        text-align: left;
    }
    .button {
        position:absolute;
        top:15px;
        right:15px;
    }
    .button2 {
        position:absolute;
        top:15px;
        left:15px;
    }
</style>
<body>
<div style="display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     min-height: 100vh;">
    <button sec:authorize="hasRole('ROLE_ADMIN')" class="button2" onclick="location.href = '/admin'">Панель администратора</button>
    <button class="button" onclick="location.href = '/logout'">Выйти</button>
    <table>
        <tr>
            <th>АйДи</th>
            <th>Адрес электронной почты</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Роли</th>
        </tr>
        <tr>
            <td th:text="${user.id}"/>
            <td th:text="${user.username}"/>
            <td th:text="${user.surname}"/>
            <td th:text="${user.name}"/>
            <td th:text="${user.patronymic}"/>
            <td th:text="${user.birthDate}"/>
            <td th:text="${roles}"/>
        </tr>
    </table>
</div>
</body>
</html>